body {
    background-image: url('../images/pixil-frame-0.png');
}




h1 {
    margin-top: 1em !important;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
}

Table {
    background-color: white;
    width: 25%
}

Button {
    margin: 1px !important;
    border-radius: 10px;
}

.accordion-body {
    text-align: left !important;
}